<div class="container">
  <div class="navbar-header">
    <a routerLink="" class="navbar-brand">
      <div class="user-records">
        <div class="icon-text">
          <img class="icon" src="../../assets/icon/user-records.icon.svg" />
          User
        </div>
        <span class="user-text">Records</span>
      </div>
    </a>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
      <li role="presentation">
        <a class="dashboard" routerLinkActive="active" routerLink="homepage"
          >Dashboard</a
        >
      </li>
      <li>
        <a class="user" routerLinkActive="active" routerLink="user">User</a>
      </li>
    </ul>
  </div>
</div>
