<div class="container">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">
      <div class="user-records">
        <div class="icon-text">
          <mat-icon class="icon" svgIcon="user"></mat-icon>
          User
        </div>
        <span class="user-text">Records</span>
      </div>
    </a>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="dashboard" (click)="goToDashboard()">Dashboard</a>
      </li>
      <li><a class="user" (click)="goToUser()">User</a></li>
    </ul>
  </div>
</div>
