<div class="page-content" *ngIf="!closeButton">
  <div class="backdrop" (click)="onClose()"></div>
  <div class="container" *ngIf="!isSaving">
    <div class="header">
      <h1>
        Details of User: <b>{{ userFirstName + " " + userLastName }}</b>
        <div class="close" (click)="onClose()"></div>
      </h1>
    </div>
    <div class="display-details" *ngIf="displayMode">
      <p>
        First Name: <b>{{ userFirstName }}</b>
      </p>
      <p>
        Last Name: <b>{{ userLastName }}</b>
      </p>
      <p>
        ID Number: <b>{{ userId }}</b>
      </p>
      <br />
      <div class="buttons">
        <button class="cancel-button" (click)="onClose()">Cancel</button>
        <button class="save-button" (click)="onEdit()">Edit</button>
      </div>
    </div>
    <div class="edit-details" *ngIf="!displayMode">
      <form class="form-details" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
          <label for="first-name" class="label">First Name:</label>
          <div>
            <input
              class="form-control"
              type="text"
              id="first-name"
              [(ngModel)]="userFirstName"
              formControlName="firstname"
              required
            />
            <span class="helper-block" *ngIf="getEditFormInvalid('firstname')"
              >This field is required.</span
            >
          </div>
        </div>
        <br />
        <div class="form-input">
          <label for="last-name" class="label">Last Name:</label>
          <div>
            <input
              class="form-control"
              type="text"
              id="last-name"
              [(ngModel)]="userLastName"
              formControlName="lastname"
              required
            />
            <span class="helper-block" *ngIf="getEditFormInvalid('lastname')"
              >This field is required.</span
            >
          </div>
        </div>

        <br />
        <div class="buttons">
          <button class="cancel-button" (click)="onCancel()">Cancel</button>
          <button
            class="save-button"
            type="submit"
            [disabled]="editForm.invalid"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="lds-ring" *ngIf="isSaving">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
